<!-- This partial serves as the head for all admin pages. -->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="/images/ico/favicon.ico">

<title>Pearl S Buck Philippines</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<style>
    /* 
        This is the main CSS file for the admin view. 
        It is used to style all admin pages.
    */

    /* Setting up the CSS variables. */
    :root {
        --blueAccent: #0082CA;
        --menu-fg: #0186BD;
        --foreground: #007F55;
        --foreground-light: #02ad75;
        --highlighted: #f9fd8a;
        --background: white;
        --greyish: #E1E1E1;

        --font-logo-text: 'PT Sans Narrow', sans-serif;
        --font-menu-text: 'Lato', sans-serif;
        --font-button-text: 'PT Sans', sans-serif;
        --font-body-text: 'Inter', sans-serif;

        --xs: 576px;
        --sm: 768px;
        --md: 992px;
        --lg: 1200px;
        --xl: 1400px;
    }

    /* Removing the default decoration for links. */
    a:link {
        text-decoration: none !important;
    }

    /* Setting up the green border, as well as the font for the body. */
    body {
        border: 8px solid var(--foreground);
        width: 100vw;
        min-height: 100vh;
        padding: 20px 30px;
        font-family: var(--font-body-text) !important;
    }

    /* Setting up the styling for the back button on the admin pages. */
    #back-button {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-top: 0px;
    }

    /* Setting up the styling for the several icons used in the admin view. */
    .admin-add-icon {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        display: inline-block;
    }
    .admin-edit-icon {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        display: inline-block;
    }
    .admin-delete-icon {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        display: inline-block;
    }

    /* Setting up the styling for the tables used in the admin view. */
    .admin-table {
        margin: 20px 40px !important;
    }
    @media (max-width: 576px) {
        .admin-table {
            margin: 20px 5px !important;
            width: 100%;
        }
    }

    /* Setting up the styling for the various headers used in the admin view. */
    .admin-h1 {
        text-align: center;
        font-weight: 700;
    }
    .admin-h1-login {
        margin: 30px 0 0;
    }
    .admin-h2 {
        font-weight: 600;
        margin: 0;
        color: black;
        text-align: right;
    }
    .admin-h2-center {
        text-align: center;
    }
    @media(max-width: 992px){
        .admin-h2 {
            text-align: center;
        }
    }
    .admin-h3 {
        font-weight: 600 !important;
        margin: auto 15px;
        color: black !important;
    }
    .admin-h3.admin-h3-no-bottom {
        margin-bottom: 0px;
    }
    .admin-h3-center {
        text-align: center;
    }
    @media (max-width: 576px) {
        .admin-h3 {
            font-size: 1.3rem;
            margin: auto 0;
        }
    }
    .admin-h6 {
        font-weight: 600 !important;
        margin: auto 15px;
        color: black !important;
    }

    /* Setting up the styling for the main menu of the admin view. */
    .admin-menu-main-container{
        max-width: 60% !important;
        padding: 20px 0;
    }
    .admin-menu-outer-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .admin-menu-container {
        margin: auto;
        display: inline-block;
        text-align:center;
        background-color: var(--greyish);
        border-radius: 10px;
        height: 100%;
        width: 100%;
        padding: 20px 0;
    }
    .admin-menu-icon {
        width: 75px;
        height: 75px;
        margin: auto;
        display: inline-block;
    }

    /* Setting up the styling for the select pages present in the admin view. */
    .admin-add-outer-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .admin-add-container {
        margin: auto;
        display: inline-block;
    }
    .admin-add-inner-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--greyish);
        padding: 5px 10px;
        border-radius: 10px;
    }
    .admin-select-search {
        margin: 20px 20px !important;
    }
    .admin-select-input {
        border: 2px solid var(--foreground);
        border-radius: 10px;
        padding: 3px 10px;
        font-size: 1.2rem;
        font-weight: 600;
        color: black;
        margin: 0;
        width: 100%;
    }

    /* Setting up the styling for the add and edit pages present in the admin view. */
    .admin-add-edit-input {
        border: 2px solid black;
        background-color: var(--greyish);
        border-radius: 8px;
        padding: 3px 15px;
        font-size: 1.1rem;
        font-weight: 600;
        color: black;
        margin: 0 15px 25px;
        width: 100%;
    }
    @media (max-width: 576px) {
        .admin-add-edit-input {
            margin: 0 0 15px;
        }
    }
    .admin-add-edit-input.admin-add-edit-input-description {
        padding: 10px 15px;
    }
    .admin-add-edit-input-photo {
        padding: 3px 15px;
        font-size: 1.1rem;
        font-weight: 600;
        color: black;
        margin: 0 35px 10px;
        width: 100%;
    }
    @media (max-width: 576px) {
        .admin-add-edit-input-photo {
            margin: 0 0 20px;
        }
    }
    .admin-photo-display {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .admin-photo-display img {
        max-width: 80vw;
        max-height: 80vh;
        border: 3px solid black;
        border-radius: 5px;
        margin: 15px 0 30px;
    }
    .admin-carousel-item {
        max-height: 500px;
        height: 70vh;
        width: auto;
        object-fit: contain;
    }
    @media (max-width: 576px) {
        .admin-carousel-item {
            max-height: 300px;
        }
    }
    .admin-carousel-container {
        display: flex;
        width: 100%;
        height: 100%;
    }
    #admin-carousel img {
        object-fit: contain !important;
        max-height: 100%;
        width: auto !important;
        border-radius: 25px;
        margin: auto !important;
        max-width: 100%;
        transition: transform .2s;
        transform: scale(0.92);
    }

    /* Setting up the styling for the tracker pages present in the admin view. */
    .admin-lookup-search {
        margin: 20px 20px !important;
    }
    .admin-lookup-input {
        border: 2px solid var(--foreground);
        border-radius: 10px;
        padding: 3px 10px;
        font-size: 1.2rem;
        font-weight: 600;
        color: black;
        margin: 3px 0;
        width: 100%;
    }
    .admin-lookup-table {
        margin: 20px 40px !important;
    }
    .admin-filter-container {
        max-width: 65% !important;
        margin: 20px auto;
    }
    .admin-filter-label {
        font-weight: 600;
        color: black;
        font-size: large;
    }
    .admin-login-container {
        margin: 60px auto;
    }

</style>

<!-- Importing Bootstrap 5 and jQuery. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>