<!-- This partial is used to insert a navbar, namely the back button, that is used on all admin pages. -->
<nav class="navbar-admin">
    {{#includes this "none"}}
    {{else}}
    <a href="{{this}}">
    {{/includes}}
        <img src="/images/ico/back.png" id="back-button" {{#includes this "none"}}style="opacity:0.0;"{{/includes}}/>
    {{#includes this "none"}}
    {{else}}
    </a>
    {{/includes}}
</nav>