<style>

    
    footer {
        min-height: 10vh;
        font-size: 1em; 
        background-color: #f8f9fa;
        display: flex;
        align-items: flex-end;
        font-family: "PT Sans", sans-serif;
        
    }

    footer .col{
        margin-top: 5vh;
        margin-bottom: 5vh;
        
    }

    .foot-brand {
        text-decoration: none !important;
        color: var(--blueAccent);
        padding: 1vh;
        font-size: 1.5em; 
    }

    .foot-logo {
        background-image: url('./images/ico/logo-cropped.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;

        width: 4em;
        height: 4em;
    }

    .socmed {
        min-width: 3em;
        height: 3em;
        display: inline-block;
        background: url('./images/ico/socmed-sprites.png');
        background-repeat: no-repeat;
        background-size: 200px 140px;
    }

    #ic-fb {
        background-position: 3% 0%;
    }

    #ic-ig {
        background-position: 97.5% 0%;
    }
    
    #ic-x {
        background-position: 35.5% 1%;
    }

    .copyright {
        background-color: #003764;
        width: 100%;
        color: white;
        display: block;
         font-family: "PT Sans", sans-serif;
         padding: 1vh;
         text-align: center;
    }
</style>

<footer>
    <div class="container">
        <div class="row">
            <div class="col" style="text-align: right; padding-right: 2vh;">
                <span style="font-family: var(--font-logo-text);
                font-weight: 600; font-size: 4vh; ">
                Contact Us
                </span>
                <br><br>
            
                executivedirector.psbfp@gmail.com<br>
                (02) 8 932 5697<br>
                <br><br>

                <div class="socmed" id="ic-fb"></div>
                <div class="socmed" id="ic-ig"></div>
                <div class="socmed" id="ic-x"></div>
            </div>

            <div class="col" style="
            display: flex; align-items: flex-sstart;
            border-left: 0.1em solid #3A7157; flex-direction: column;">

                <div style="display: flex; align-items: center;">
                    <div class="foot-logo">
                    </div>

                    <a class="foot-brand" href="#">
                        <span style="
                        font-family: var(--font-button-text); 
                        font-weight: 800;">
                            Pearl S. Buck
                        </span>
                        <span style="
                        font-family: var(--font-logo-text);">
                            Philippines
                        </span>
                    </a>
                </div>
                
                <div class="col" style="margin: 1em; width: 50%;">
                    Pearl S. Buck Foundation was established and managed by
                    Pearl S. Buck International in 1968 to 2002 as their branch
                    in the Philippines. Providing opportunities to explore and appreciate other cultures, 
                    builds better lives for children around the globe and promotes the 
                    legacy of our founder Pearl S. Buck.
                </div>
            </div>                 
        </div>

        <div class="copyright">
            &copy; 2023 Pearl S. Buck Philippines, All Rights Reserved
        </div>
    </div>

</footer>

