<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/">
        <div class="nav-logo">
        </div>
    </a>
    <a class="navbar-brand" href="/">
        <span style="
        font-family: var(--font-button-text); 
        font-weight: 800;">
            Pearl S. Buck
        </span>
        <span style="
        font-family: var(--font-logo-text);">
            Philippines
        </span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ms-auto">
            <li class="nav-item active px-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-whoAreWe" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">ABOUT US <span class="sr-only">(current)</span></a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown-whoAreWe">
                    <li><a class="dropdown-item" href="/about#">OUR FOUNDER'S PHILOSOPHY</a></li>
                    <li><a class="dropdown-item" href="/about#vnm">VISION AND MISSION</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/about#trustees">BOARD OF TRUSTEES</a></li>
                    <li><a class="dropdown-item" href="/about#staff">STAFF</a></li>
                </ul>
            </li>
            <li class="nav-item px-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-whatWeDo" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">PROJECTS</a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown-whatWeDo">
                    <li><a class="dropdown-item" href="/project/explore">EXPLORE</a></li>
                    <li><a class="dropdown-item" href="/project/search">SEARCH</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/project/search?filter=education">EDUCATION</a></li>
                    <li><a class="dropdown-item" href="/project/search?filter=health">HEALTH</a></li>
                    <li><a class="dropdown-item" href="/project/search?filter=livelihood">LIVELIHOOD</a></li>
                    <li><a class="dropdown-item" href="/project/search?filter=psychosocial">PSYCHOSOCIAL</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/project/search?filter=ongoing">ONGOING</a></li>
                    <li><a class="dropdown-item" href="/project/search?filter=past">PAST</a></li>
                    <li><a class="dropdown-item" href="/project/search?filter=upcoming">UPCOMING</a></li>
                </ul>
            </li>
            <li class="nav-item px-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-whatWeDo" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">NEWS</a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown-whatWeDo">
                    <li><a class="dropdown-item" href="/newsletter/explore">EXPLORE</a></li>
                    <li><a class="dropdown-item" href="/newsletter/search">SEARCH</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/newsletter/search?filter=education">EDUCATION</a></li>
                    <li><a class="dropdown-item" href="/newsletter/search?filter=health">HEALTH</a></li>
                    <li><a class="dropdown-item" href="/newsletter/search?filter=livelihood">LIVELIHOOD</a></li>
                    <li><a class="dropdown-item" href="/newsletter/search?filter=psychosocial">PSYCHOSOCIAL</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/newsletter/search?filter=ongoing">ONGOING</a></li>
                    <li><a class="dropdown-item" href="/newsletter/search?filter=past">PAST</a></li>
                    <li><a class="dropdown-item" href="/newsletter/search?filter=upcoming">UPCOMING</a></li>
                </ul>
            </li>
            <li class="nav-item px-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-whatWeDo" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">EVENTS</a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown-whatWeDo">
                    <li><a class="dropdown-item" href="/event/explore">EXPLORE</a></li>
                    <li><a class="dropdown-item" href="/event/search">SEARCH</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/event/search?filter=education">EDUCATION</a></li>
                    <li><a class="dropdown-item" href="/event/search?filter=health">HEALTH</a></li>
                    <li><a class="dropdown-item" href="/event/search?filter=livelihood">LIVELIHOOD</a></li>
                    <li><a class="dropdown-item" href="/event/search?filter=psychosocial">PSYCHOSOCIAL</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/event/search?filter=ongoing">ONGOING</a></li>
                    <li><a class="dropdown-item" href="/event/search?filter=past">PAST</a></li>
                    <li><a class="dropdown-item" href="/event/search?filter=upcoming">UPCOMING</a></li>
                </ul>
            </li>
            <li class="nav-item nav-donate px-2">
                <button onclick="window.location.href='/donate/type';" type="button"
                    class="btn btn-primary rounded-pill">💝 DONATE</button>
            </li>
        </ul>
    </div>

</nav>