
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/"><div class="nav-logo">
    </div></a>
    <a class="navbar-brand" href="/">
        <span style="
        font-family: var(--font-button-text); 
        font-weight: 800;">
            Pearl S. Buck
        </span>
        <span style="
        font-family: var(--font-logo-text);">
             Philippines
        </span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ms-auto">
            <li class="nav-item active px-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" 
                id="navbarDropdown-whoAreWe" role="button" data-bs-toggle="dropdown" 
                aria-expanded="false">WHO WE ARE <span class="sr-only">(current)</span></a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown-whoAreWe">
                    <li><a class="dropdown-item" href="#">OUR FOUNDER'S PHILOSOPHY</a></li>
                    <li><a class="dropdown-item" href="#">VISION AND MISSION</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">BOARD OF MEMBERS</a></li>
                </ul>
            </li>
            <li class="nav-item px-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" 
                id="navbarDropdown-whatWeDo" role="button" data-bs-toggle="dropdown" 
                aria-expanded="false">WHAT WE DO</a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown-whatWeDo">
                    <li><a class="dropdown-item" href="#">HEALTH</a></li>
                    <li><a class="dropdown-item" href="#">EDUCATION</a></li>
                    <li><a class="dropdown-item" href="#">LIVELIHOOD</a></li>
                    <li><a class="dropdown-item" href="#">PSYCHOSOCIAL</a></li>
                </ul>
            </li>
            <li class="nav-item px-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" 
                id="navbarDropdown-news" role="button" data-bs-toggle="dropdown" 
                aria-expanded="false">NEWS</a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown-news">
                    <li><a class="dropdown-item" href="#">STORIES AND ARTICLES</a></li>
                    <li><a class="dropdown-item" href="#">GALLERY</a></li>
                    <li><a class="dropdown-item" href="#">AWARDS</a></li>
                </ul>
            </li>
            <li class="nav-item nav-donate px-2">
                <button onclick= "window.location.href='/donate/type';" type="button" class="btn btn-primary rounded-pill">💝 DONATE</button>
            </li>
        </ul>
    </div>

</nav>