    <!-- small navbar to jump and down -->

<!-- 
    Philosophy of Founder
-->

<!--
    Vision and Mission and General Stuff about them
-->

<!--
    Board of Members
-->
<div class="container-fluid py-5">
    <div class="row">

    <div class="col-md-3">
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1" id="founder">Our Founder</a>  
            <ul class="list-group my-2">
      <li class="list-group-item"><a href="/">Level 2 - First</a></li>
      <li class="list-group-item"><a href="/">Level 2 - Second</a></li>
    </ul>
            <a class="list-group-item list-group-item-action" href="#list-item-2" id="vnm">Vision and Mission</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3" id="board">Board of Members</a>
        </div>
    </div>

    <div class="col-md-9">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">

        <figure class="text-center">
            <blockquote class="blockquote">
                <img src="images/psbPersonQuote.jpeg" class="img-thumbnail rounded-circle" height="auto" width="100vh" alt="...">
                <p>The test of a civilization is in the way that it cares for its helpless members.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                -<cite title="Source Title">Pearl S. Buck</cite>
            </figcaption>
        </figure>


        <h4 id="list-item-1">Our Founder</h4>
        <p>
        Pearl S. Buck Foundation was established and managed by Pearl S. Buck International in 1968 to 2002 as their branch in the Philippines. 
        Its flagship program is Sponsorship Program for the Amerasian children in Manila, Angeles City, Olongapo City, Ormoc City and Cebu. 
        In 2003, Pearl S. Buck Foundation Philippines Inc. or PSBFP has registered to Securities and Exchange Comission (SEC) with nine (9) 
        Filipino board members and one of the affiliates fo Pearl S. Buck International and became autonomous.


        <br><br>
        In 2015, it has given a registration, license to operate, accrediatations and certification from the Department of Social Welfare and Development (DSWD) and Philippine Council for NGO Certification (PCNC). In 2016, it became an active member of the Association of Foundations (AF), National Council for Social Development (NCSD and DSWD-ABSNET-QC Central Cluster. The Sponsorship program continue with the following programs and services: H.E.L.P.++ Health; Education; Livelihood; Opportunities; Psychosocial Intiaitives.

        <br><br>
        Pearl S. Buck was an award-winning author and a driving force i nhumanitiarian causes. She was a longtime advocate of cross-cultural understanding and racial harmony as a means of achieve world peace. Pearl S. Buck Foundation continues her legacy of bridging ucltures and changing lives through sponsorship among Amerasian, bi-racial, indigenous, and displaced Filipino children.</p>
        <h4 id="list-item-2">Vision and Mission</h4>
        <p>...</p>
        <h4 id="list-item-3">Board of Members</h4>

        <p>...</p>

        <h4 id="list-item-4">Item 4</h4>
        <p>...</p>
        </div>
    </div>

    </div>
</div>


<script>
    if(document.getElementsByClassName("index-carousel-item-newsletter")[0])
       document.getElementsByClassName("index-carousel-item-newsletter")[0].classList.add("active");
    if(document.getElementsByClassName("index-carousel-item-projects")[0])
        document.getElementsByClassName("index-carousel-item-projects")[0].classList.add("active");
    if(document.getElementsByClassName("index-newsletter-carousel-button")[0])
        document.getElementsByClassName("index-newsletter-carousel-button")[0].classList.add("active");
    if(document.getElementsByClassName("index-projects-carousel-button")[0])
        document.getElementsByClassName("index-projects-carousel-button")[0].classList.add("active");
</script>