<div class="container-fluid py-5 px-5 about">
    <div class="row">

    <!-- small navbar to jump and down -->

    <div class="col-md-3">
        <div id="list-example" class="list-group list-group-flush sticky-top">

            <a class="list-group-item list-group-item-action" href="#">Our Founder</a>
                <div class="list-group list-group-flush my-2 px-4">
                    <a class="list-group-item list-group-item-action" href="#phj">The Philippine Journey</a>
                </div>  
            <a class="list-group-item list-group-item-action" href="#vnm-d">Our Beliefs</a>
                <div class="list-group list-group-flush my-2 px-4">
                    <a class="list-group-item list-group-item-action" href="#helpPP">H.E.L.P.++</a>
                </div>  
            <a class="list-group-item list-group-item-action" href="#board">Board of Trustees</a>
                <div class="list-group list-group-flush my-2 px-4">
                    <a class="list-group-item list-group-item-action" href="#boardmembers">Staff</a>
                </div>  
        
            <div class="progress mt-2">
                <div class="progress-bar bg-info" id="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>
    </div>

    <div class="col-md-9">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">

        <!-- Pearl S. Buck quote -->
        <figure class="text-center" id="founder_quote">
            <blockquote class="blockquote">
                <img src="images/psbPersonQuote.jpeg" class="img-thumbnail rounded-circle" height="auto" width="150vh" alt="...">
                <p>The test of a civilization is in the way that it cares for its helpless members.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                -<cite title="Source Title">Pearl S. Buck</cite>
            </figcaption>
        </figure>

        
        <!-- 
            Philosophy of Founder
        -->
        <h4 id="founder">Our Founder</h4>
        <p>

            Pearl S. Buck was an award-winning author and a driving force in humanitiarian causes.
            She was a longtime advocate of cross-cultural understanding and racial harmony as a means orf achieve world peace. 

            <br><br>
            As early as the 1930s, she was a vocal supporter of the Civil 
            Rights Movement in the United States. She fought prejudice wherever she found it. In 1949, moved by the plight of 
            children fathered, and often abandoned, by American servicemen in Asia she founded the Welcome House adoption program. 
            It was the first adoption agency specializing in the placement of biracial children which unfortunately ceased in 2014
            due to changes in international policy on adoption.

            <br><br>
            In 1964, she created the Pearl S. Buck Foundation as a child sponsorship organization to help children in their own countries with health, education and job training. The Pearl S. Buck Foundation transformed into what is now Pearl S. Buck International.

            Pearl S. Buck died of lung cancer on March 6, 1973, shortly before her 81st birthday. 
            She is buried, as she requested, on the grounds of Green Hills Farm in Pennysylvania or better known
            as the Pearl S. Buck House where she lived for 40 years to raise her family, writing, garden, and
            humanitarian efforts.


        </p>

        <h5 class="md-5" id="phj">The Philippine Journey</h5>
        <p>
        Pearl S. Buck Foundation was established and managed by Pearl S. Buck International in 1968 to 2002 as their branch in the Philippines. 
        Its flagship program is Sponsorship Program for the Amerasian children in Manila, Angeles City, Olongapo City, Ormoc City and Cebu. 
        In 2003, Pearl S. Buck Foundation Philippines Inc. or PSBFP has registered to Securities and Exchange Comission (SEC) with nine (9) 
        Filipino board members and one of the affiliates fo Pearl S. Buck International and became autonomous.


        <br><br>
        In 2015, it has given a registration, license to operate, accrediatations and certification from the Department of Social Welfare and Development (DSWD) and Philippine Council for NGO Certification (PCNC). In 2016, it became an active member of the Association of Foundations (AF), National Council for Social Development (NCSD and DSWD-ABSNET-QC Central Cluster. The Sponsorship program continue with the following programs and services: H.E.L.P.++ Health; Education; Livelihood; Opportunities; Psychosocial Intiaitives.
        </p>

        <!-- DSWD post -->
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpsbph%2Fposts%2Fpfbid02oKP9PiR2peEQSBbb5hsvXkYCuMvAxgouR3sbcdzRtutqDYHpxYpC8fAwcu45bSTZl&show_text=true&width=500" 
        width="500" height="644" 
        class="py-3"
        style="display: block; margin: 0 auto; border:none; overflow:hidden" 
        scrolling="no" frameborder="0" 
        allowfullscreen="true" 
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
        </iframe>

        <!--
            Vision and Mission and General Stuff about them
        -->
        <h4 id="vnm">We Believe</h4>
        <p>
            All children should receive education, nutrition and preventive health care to become self-sufficient.
            All children should grow up with cultural competence to be successful in a global environment.
            All individuals can improve conditions and resolve problems if they understand and appreciate cultural differences, establish relationships with people from other cultures and build strong alliances with different cultural groups.
      </p>
        <div class="row mt-5" id="vnm-d">
            <div class="col" style="text-align: center;">
                <img src="images/ico/vision.png" width="50vh"/>
                <h4>
                    Vision
                </h4>

                <p>
                    Brighter Future for Filipino Children through education
                </p>
            </div>
            <div class="col" style="text-align: center;">
                <img src="images/ico/mission.png" width="50vh"/>
                <h4>         
                    Mission
                </h4>

                <p>
                    To provide opportunities for vulnerable Filipino children to develop their full potential.
                </p>
            </div>
        </div>

        <h4 class="md-5" id="helpPP">H.E.L.P.++</h4>

        <div class="row mt-3" style="text-align: center;" id="helpPPcontent">
            
            <div class="col">
                <h5>HEALTH</h5>
                <p>
                    To assist sponsored children in taking care
                    of their health by providing:
                    <ul style="text-align: left">
                    <li>Red Cross Accident Insurance</li>
                    <li>Backyard Gardening</li>
                    <li>Feeding Program</li>
                    <li>BMI Monthly Monitoring</li>
                    <li>Health and Nutrition Education</li>
                    <li>Nutrition Month Celebration</li>
                    <li>Vitamins Provision</li>
                    <li>Medical and Dental Mission</li>
                    </ul>
                </p>
            </div>

            <div class="col">
                <h5>EDUCATION</h5>
                <p>
                    To send help the sponsored children to school from elementary, 
                    highschool, until college. Sending them up to the tertiary level
                    of education is the heart of PSBFP's vision and mission. This 
                    program has a concrete component of partnership with the parents or
                    guardians of sponsored child especially in the college level
                    through parents' counterpart.
                </p>

                <ul style="text-align: left">
                    <li>School Assistance Support (Cash)</li>
                    <li>Tutorial Program</li>
                    <li>Provision of School Supplies</li>
                    <li>Educational Reward for Achievers</li>
                    <li>Career Guidance for Junior High School</li>
                    <li>Life Skills Seminar &amp; Webinar for all sponsored children</li>
                </ul>
            </div>

            <div class="col">
                <h5>LIVELIHOOD</h5>

                <p>
                    To assist the parents and guardians of sponsored children
                    in earning extra income to augment the basic needs of the 
                    family by providing technical skills training in livelihood.

                    <ul style="text-align: left">
                        <li>Trash to Cash</li>
                        <li>Backyard Gardening</li>
                        <li>Bags for Life</li>
                    </ul>
                </p>
            </div>

            <div class="col">
                <h5>PSYCHOSOCIAL</h5>

                <p>
                    To guide sponsored children as they grow from childhood to adolescent until adulthood
                    by launching activities that can develop their self-confidence and acquire good
                    decision-making skills.
                </p>

                <ul style="text-align: left;">
                    <li>Special Gifts from Sponsor</li>
                    <li>Summer Fun Activities</li>
                    <li>Peer Coaching</li>
                    <li>Individual Coaching</li>
                    <li>Christmas Gathering</li>
                    <li>Sportsfest Activity</li>
                    <li>Family Life Relationship Seminar</li>
                    <li>Culminating Activities</li>
                    <li>Field Trips/Educational Tours</li>
                    <li>Amerasian Day</li>
                    <li>National Children's Month Celebration</li>
                </ul>
            </div>
        </div>

        <!--
            Board of Trustees

            Might turn this into a carousel later
        -->
        <div class="row BoT">
            <div class="col">
            <h4 id="board">Board of Trustees</h4>
            <img src="images/ico/trustees.png" width="50vh"/>
            </div>
        </div>

        <div class="row chairs mt-2" style="width: 60%; margin: 0 auto;">
            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <!-- <img src="/images/psbPersonQuote.jpeg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Prof. Elizabeth Lorenzana-Diaz</h5>
                        <p class="card-text">Chairperson</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">chairperson@gmail.com</li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <!-- <img src="/images/board1.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Myrna T. Yao</h5>
                        <p class="card-text">Chairperson Emeritus</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">chairperson@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row chairs mt-5" style="width: 90%; margin: 0 auto;">
            <div class="col">
               <div class="card" style="width: 18rem; ">
                    <!-- <img src="/images/board2.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">PBGen. Yolanda G. Tanigue, RSW, Ph.D (Ret)</h5>
                        <p class="card-text">President</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">president@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <!-- <img src="/images/board3.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Anne Marie C. Gordon</h5>
                        <p class="card-text">Vice President</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">vp@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <!-- <img src="/images/psbPersonQuote.jpeg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Lina B. Laigo, Ph.D</h5>
                        <p class="card-text">Secretary</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">secretary@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row chairs mt-2" style="width: 60%; margin: 0 auto;">
            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <!-- <img src="/images/psbPersonQuote.jpeg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Dr. Hyacinth C. Manood</h5>
                        <p class="card-text">Treasurer</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">treasurer@gmail.com</li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <!-- <img src="/images/psbPersonQuote.jpeg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Timothy P. Tionson</h5>
                        <p class="card-text">Auditor</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">auditor@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--
        <div class="row chairs mt-2" style="width: 60%; margin: 0 auto;">
            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <img src="/images/psbPersonQuote.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Prof. Elizabeth Lorenzana-Diaz</h5>
                        <p class="card-text">Chairperson</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">chairperson@gmail.com</li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <img src="/images/board1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Myrna T. Yao</h5>
                        <p class="card-text">Chairperson Emeritus</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">chairperson@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row chairs mt-5" style="width: 90%; margin: 0 auto;">
            <div class="col">
               <div class="card" style="width: 18rem; ">
                    <img src="/images/board2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PBGen. Yolanda G. Tanigue, RSW, Ph.D (Ret)</h5>
                        <p class="card-text">President</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">president@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <img src="/images/board3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Anne Marie C. Gordon</h5>
                        <p class="card-text">Vice President</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">vp@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <img src="/images/psbPersonQuote.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lina B. Laigo, Ph.D</h5>
                        <p class="card-text">Secretary</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">secretary@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row chairs mt-2" style="width: 60%; margin: 0 auto;">
            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <img src="/images/psbPersonQuote.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Hyacinth C. Manood</h5>
                        <p class="card-text">Treasurer</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">treasurer@gmail.com</li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <img src="/images/psbPersonQuote.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Timothy P. Tionson</h5>
                        <p class="card-text">Auditor</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">auditor@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
        -->


        <!-- Board of Members -->
        <div class="row BoT mt-5">
            <div class="col">
            <h4 id="boardmembers">Staffs</h4>
            <img src="images/ico/staff.png" width="50vh"/>
            </div>
        </div>

         <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="row chairs mt-2" style="width: 90%; margin: 0 auto;">

            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <!-- <img src="/images/board2.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Atty. Salvador B. Belaro</h5>
                        <p class="card-text">Member</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">member@gmail.com</li>
                    </ul>
                </div>
            </div>

             <div class="col">
                <div class="card" style="width: 18rem; ">
                    <!-- <img src="/images/executivedirector.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Teresita R. Latoza</h5>
                        <p class="card-text">Executive Director</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">ed@gmail.com</li>
                    </ul>
                </div>
            </div>

              <div class="col">
               <div class="card" style="width: 18rem; ">
                    <!-- <img src="/images/board1.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Atty. Amy L. Wong, DCL</h5>
                        <p class="card-text">Member</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">member@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
            </div>
        <div class="carousel-item">
            <div class="row chairs mt-5" style="width: 60%; margin: 0 auto;">
          
            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <!-- <img src="/images/board3.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Mary A. Ang</h5>
                        <p class="card-text">Member</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">member@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; ">
                    <!-- <img src="/images/psbPersonQuote.jpeg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Nellie Y. King</h5>
                        <p class="card-text">Member</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">member@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
        <button class="about-carousel carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="about-carousel carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>




        </div>
        </div>
    </div>

    </div>
</div>


<script>
    if(document.getElementsByClassName("index-carousel-item-newsletter")[0])
       document.getElementsByClassName("index-carousel-item-newsletter")[0].classList.add("active");
    if(document.getElementsByClassName("index-carousel-item-projects")[0])
        document.getElementsByClassName("index-carousel-item-projects")[0].classList.add("active");
    if(document.getElementsByClassName("index-newsletter-carousel-button")[0])
        document.getElementsByClassName("index-newsletter-carousel-button")[0].classList.add("active");
    if(document.getElementsByClassName("index-projects-carousel-button")[0])
        document.getElementsByClassName("index-projects-carousel-button")[0].classList.add("active");

$(window).scroll(function () {
  var s = $(window).scrollTop(),
        d = $(document).height(),
        c = $(window).height();
        scrollPercent = (s / (d-c)) * 100;
        var position = scrollPercent;

   $("#progressbar").width(position + "%");
   $("#progressbar").attr('aria-valuenow', position);

});
</script>