{{> admin_modal_required}}

<h1 class="admin-h1 admin-h1-login">Pearl S. Buck Philippines</h1>
<h3 class="admin-h3 admin-h3-center">Admin Login</h3>
<div class="admin-login-container">
    <div class="row admin-login-row">
        <h2 class="admin-h2 admin-h2-center">Username</h2>
    </div>
    <div class="row admin-login-row justify-content-center align-items-center">
        <div class="col-10 col-lg-4 col-md-6">
            <input type="text" id="username" class="admin-select-input" required>
        </div>
    </div>
</div>
<div class="admin-login-container">
    <div class="row admin-login-row">
        <h2 class="admin-h2 admin-h2-center">Password</h2>
    </div>
    <div class="row admin-login-row justify-content-center align-items-center">
        <div class="col-10 col-lg-4 col-md-6">
            <input type="password" id="password" class="admin-select-input" required>
        </div>
    </div>
</div>
<div class="row justify-content-center my-3">
    <button id="submit" class="btn btn-success col-6 col-md-4 col-lg-3">Submit</button>
</div>
<h3 class="admin-h3 admin-h3-center">Unauthorized Access is Prohibited!</h3>

<script>
    document.getElementById("submit").addEventListener("click", async function () {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        $('input[type="text"]').each(function () {
            this.value = $.trim(this.value);
        });
        $('input[type="password"]').each(function () {
            this.value = $.trim(this.value);
        });
        let valid = true;
        $('[required]').each(function () {
            if ($(this).is(':invalid') || !$(this).val()) {
                valid = false;
            }
        })
        if (!valid) {
            document.getElementById("admin-select-modal-required-body").innerHTML = "Please fill in all the required fields properly before submitting...";
            $("#admin-select-modal-required").modal("show");
            return;
        }

        const result = await fetch("/admin/submit", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username,
                password
            })
        });
        if (result.status == 200) {
            window.location.href = "/admin/menu";
        } else {
            document.getElementById("admin-select-modal-required-body").innerHTML = "Invalid username or password!";
            $("#admin-select-modal-required").modal("show");
        }

    });
</script>