<h1 class="admin-h1 admin-h1-login">Pearl S. Buck Philippines</h1>
<h3 class="admin-h3 admin-h3-center">Admin Login</h3>
<div class="admin-login-container">
    <div class="row admin-login-row">
        <h2 class="admin-h2 admin-h2-center">Username</h2>
    </div>
    <div class="row admin-login-row justify-content-center align-items-center">
        <div class="col-10 col-lg-4 col-md-6">
            <input type="text" id="username" class="admin-select-input">
        </div>
    </div>
</div>
<div class="admin-login-container">
    <div class="row admin-login-row">
        <h2 class="admin-h2 admin-h2-center">Password</h2>
    </div>
    <div class="row admin-login-row justify-content-center align-items-center">
        <div class="col-10 col-lg-4 col-md-6">
            <input type="password" id="password" class="admin-select-input">
        </div>
    </div>
</div>
<h3 class="admin-h3 admin-h3-center">Unauthorized Access is Prohibited!</h3>