{{> admin_modal_required}}
{{> admin_modal_error}}

<h1 class="admin-h1">Edit Staff Group Photo</h1>
<form id="adminForm">
    <div class="container">
        <div class="row">
            <label class="h3 admin-h3" for="staffPhoto">Group Photo</label>
            <input type="file" id="staffPhoto" class="admin-add-edit-input-photo" name="staffPhoto" accept="image/*"
                required>
        </div>
        <div class="row">
            <div class="admin-photo-display">
                <img id="staffPhotoDisplay" style="display: none">
            </div>
        </div>
        <div class="row justify-content-center">
            <button id="submit" class="btn btn-success col-6 col-md-3 col-lg-2">Submit</button>
        </div>
    </div>
    <input type="text" id="id" name="id" style="display:none">
</form>


<script>
    document.getElementById("staffPhoto").addEventListener("change", function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.addEventListener("load", function () {
                document.getElementById("staffPhotoDisplay").src = this.result;
                document.getElementById("staffPhotoDisplay").style = "";
            });
            reader.readAsDataURL(file);
        }
    });

    document.getElementById("submit").addEventListener("click", async (e) => {
        e.preventDefault();

        let valid = true;
        $('[required]').each(function () {
            if ($(this).is(':invalid') || !$(this).val()) {
                valid = false;
            }
        })

        if (!valid) {
            $("#admin-select-modal-required").modal("show");
            return;
        }
        var formData = new FormData(document.getElementById("adminForm"));
        const res = await fetch("/admin/staff/edit-group", {
            method: "PUT",
            body: formData
        })

        if (res.status == 200) {
            window.location.replace("/admin/staff/select");
        } else {
            $("#admin-select-modal-error").modal("show");
        }
    })
    fetch(`/admin/staff/get-group`)
        .then(response => response.json())
        .then(element => {
            if(element.staffPhoto != "N/A"){
                document.getElementById("staffPhotoDisplay").src = `/imageByName?name=${element.staffPhoto}`;
                document.getElementById("staffPhotoDisplay").style = "";
            }
        });

</script>