<!-- This view serves as the main template for the special 'Admin Menu' page. -->

<!-- Add the main header that displays the page title. -->
<h1 class="admin-h1">Main Menu</h1>

<!-- Add the main container that holds the admin menu. -->
<div class="container admin-menu-main-container">
    <div class="row gy-4">
        <!-- Add the button that leads to the 'Admin: Select Project' page. -->
        <div class="col-lg-4 col-12">
            <div class="admin-menu-outer-container">
                <a href="/admin/project/select" class="admin-menu-container">
                    <img src="/images/ico/projects.png" class="admin-menu-icon">
                    <h3 class="admin-h3 admin-h3-center">Projects</h3>
                </a>
            </div>
        </div>

        <!-- Add the button that leads to the 'Admin: Select Child' page. -->
        <div class="col-lg-4 col-12">
            <div class="admin-menu-outer-container">
                <a href="/admin/child/select" class="admin-menu-container">
                    <img src="/images/ico/children.png" class="admin-menu-icon">
                    <h3 class="admin-h3 admin-h3-center">Children</h3>
                </a>
            </div>
        </div>

        <!-- Add the button that leads to the 'Admin: Select Newsletter' page. -->
        <div class="col-lg-4 col-12">
            <div class="admin-menu-outer-container">
                <a href="/admin/newsletter/select" class="admin-menu-container">
                    <img src="/images/ico/newsletters.png" class="admin-menu-icon">
                    <h3 class="admin-h3 admin-h3-center">Newsletters</h3>
                </a>
            </div>
        </div>

        <!-- Add the button that leads to the 'Admin: Select Trustee' page. -->
        <div class="col-lg-4 col-12">
            <div class="admin-menu-outer-container">
                <a href="/admin/trustee/select" class="admin-menu-container">
                    <img src="/images/ico/trustees.png" class="admin-menu-icon">
                    <h3 class="admin-h3 admin-h3-center">Trustees</h3>
                </a>
            </div>
        </div>

        <!-- Add the button that leads to the 'Admin: Select Staff' page. -->
        <div class="col-lg-4 col-12">
            <div class="admin-menu-outer-container">
                <a href="/admin/staff/select" class="admin-menu-container">
                    <img src="/images/ico/staff.png" class="admin-menu-icon">
                    <h3 class="admin-h3 admin-h3-center">Staff</h3>
                </a>
            </div>
        </div>

        <!-- Add the button that leads to the 'Admin: Select Event' page. -->
        <div class="col-lg-4 col-12">
            <div class="admin-menu-outer-container">
                <a href="/admin/event/select" class="admin-menu-container">
                    <img src="/images/ico/events.png" class="admin-menu-icon">
                    <h3 class="admin-h3 admin-h3-center">Events</h3>
                </a>
            </div>
        </div>

        <!-- Add the button that leads to the 'Admin: Sponsors' page. -->
        <div class="col-lg-4 col-12">
            <div class="admin-menu-outer-container">
                <a href="/admin/sponsor" class="admin-menu-container">
                    <img src="/images/ico/sponsors.png" class="admin-menu-icon">
                    <h3 class="admin-h3 admin-h3-center">Sponsors</h3>
                </a>
            </div>
        </div>

        <!-- Add the button that leads to the 'Admin: Donations' page. -->
        <div class="col-lg-4 col-12">
            <div class="admin-menu-outer-container">
                <a href="/admin/donation" class="admin-menu-container">
                    <img src="/images/ico/donations.png" class="admin-menu-icon">
                    <h3 class="admin-h3 admin-h3-center">Donations</h3>
                </a>
            </div>
        </div>

        <!-- Add the button that leads to the 'Admin: Edit Others' page. -->
        <div class="col-lg-4 col-12">
            <div class="admin-menu-outer-container">
                <a href="/admin/other/edit" class="admin-menu-container">
                    <img src="/images/ico/others.png" class="admin-menu-icon">
                    <h3 class="admin-h3 admin-h3-center">Others</h3>
                </a>
            </div>
        </div>
    </div>
</div>