<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals1.css" />
    <link rel="stylesheet" href="choose_sponsor.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid type-container d-flex justify-content-center">
      <div class="row type-row">
          <div class="col-lg-6 col-sm-12 text-center gy-lg-0 gy-sm-2 gy-2 type-div justify-content-center">
              <div style="my-auto">
                <a class="type-zoom-in-1" href="/donate/select-project"><img src="https://c.animaapp.com/in7PRkJt/img/img-20230429-113522-1.png" class="img-fluid type-img" alt="..."></a>
                <a class="type-zoom-in-1" href="/donate/select-project"><p class="h2 type-col text-col-1">Sponsor a Child</p></a>
              </div>
          </div>
          <div class="col-lg-6 col-sm-12 text-center background-green gy-lg-0 gy-sm-2 gy-2 type-div justify-content-center">
             <div style="my-auto">
              <a class="type-zoom-in-2" href="/donate/select-child"><img src="https://c.animaapp.com/in7PRkJt/img/vitamins-distribution-1.png" class="img-fluid type-img" alt="..."></a>
              <a class="type-zoom-in-2" href="/donate/select-child"><p class="h2 type-col text-col-2">Sponsor a Project</p></a>
              </div>
          </div>
      </div>
    </div>
  </body>
</html>