<!-- This view is rendered to the user whenever a donation is successful. -->
<div class="confirmation-container">
    <div class="confirmation-text">
        Thank you for helping us make a change!
    </div>
    <button class="return-button" onclick="window.location = '/'">
        Back to Home
    </button>
</div>

<!-- Add the confetti script. -->
<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
<script>
    /* Add the confetti animation. */
    const jsConfetti = new JSConfetti()
    jsConfetti.addConfetti({
        confettiRadius: 3,
        confettiNumber: 1000
    })
</script>