<!-- This view serves as the main template for the 'Donation Type' page of the user view. -->
<div class="container-fluid type-container d-flex justify-content-center">
  
  <!-- Dislay the two donation types. -->
  <div class="row type-row" style="max-width:100%">

    <!-- Display the first option to sponsor a child. -->
    <div class="col-lg-6 col-sm-12 text-center gy-lg-0 gy-sm-2 gy-2 type-div justify-content-center">
      <div style="my-auto">
        <a class="type-zoom-in-1" href="/donate/select/child"><img
            src="https://c.animaapp.com/in7PRkJt/img/img-20230429-113522-1.png" class="img-fluid type-img"
            alt="..."></a>
        <a class="type-zoom-in-1" href="/donate/select/child">
          <p class="h2 type-col text-col-1">Sponsor a Child</p>
        </a>
      </div>
    </div>

    <!-- Display the second option to donate to a project. -->
    <div class="col-lg-6 col-sm-12 text-center background-green gy-lg-0 gy-sm-2 gy-2 type-div justify-content-center">
      <div style="my-auto">
        <a class="type-zoom-in-2" href="/donate/select/project"><img
            src="https://c.animaapp.com/in7PRkJt/img/vitamins-distribution-1.png" class="img-fluid type-img"
            alt="..."></a>
        <a class="type-zoom-in-2" href="/donate/select/project">
          <p class="h2 type-col text-col-2">Donate to a Project</p>
        </a>
      </div>
    </div>
  </div>
</div>