<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="global1.css"/>
        <link rel="stylesheet" href="donation_details.css"/>
    </head>
    <body>
        <div class="main-container">
            <div class="info-container">
                <div class="img-container">
                    <img src="{{mainPhoto}}" class="project-image" alt="...">
                </div>
                <div class="text-container">
                    <div class="title-container">{{name}}</div>
                    <div class="body-container">{{description}}</div>
                </div>
            </div>
            <div class="donation-container">
                <label for="quantity" class="donation-label">Donation Amount: </label>
                <input type="number" class="quantity" name="quantity" min="0" step="1" inputmode="numeric">
            </div>
            <div class="button-container">
                <button class="proceed-button">
                    Proceed to Payment
                </button>
            </div>
        </div>
    </body>
</html>