<div class="confirmation-container">
    <div class="confirmation-text">
        Uh-oh, something went wrong with your donation...
    </div>
    <button class="return-button" onclick="window.location = '/donate/type'">
        Try Again?
    </button>
</div>