<body>
    <div class="confirmation-container">
        <div class="confirmation-text">
            Thank you for making a donation!
        </div>
        <button class="return-button" onclick="window.location = '/'">
               Back to Home
        </button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
    <script>
        const jsConfetti = new JSConfetti() 
        jsConfetti.addConfetti({
            confettiRadius: 3,
            confettiNumber: 1000
            })
    </script>
</body>