<!DOCTYPE html>

<head>
    <!--
            TO DO: USE JAVASCRIPT TO CHECK WHAT DIRECTORY
            WE'RE IN TO TELL THE HANDLEBAR WHICH CSS
            FILE WE WANT TO USE BRO
            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

            {{#each css}}
                <link rel="stylesheet" href="/css/{{this}}">
            {{/each}}
            
        -->
    {{> admin_head}}

</head>

<body>

    {{> admin_navbar back}}

    {{{body}}}

</body>

</html>