<!-- This is the main layout template for the admin view that all other templates will extend. -->
<!DOCTYPE html>

<html lang="en">
    <head>
        {{> admin_head}}
    </head>

    <body>
        {{> admin_navbar back}}

        {{{body}}}
    </body>
</html>