<!-- This is the main layout template for the user view that all other templates will extend. -->
<!DOCTYPE html>

<html lang="en">
    <head>
        {{> head}}
    </head>
    <body>
        {{> navbar}}

        {{{body}}}

        {{> footer foot}}
    </body>
</html>