.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: space-around;
  text-align: center; 
}

.col {
  font-family: "Inter", Helvetica;
  font-size: 35px;
  font-weight: 800;
  font-style: bold;
  margin: 10px;
}

img {
  width: 2147px;
  top: 1183px;
  margin-left: auto; 
  margin-right: auto;
}

.text-col {
  color: white;
}

#right-half-background {
  background-color: #007F55;
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
  top: 0;
  z-index: -1;
}