.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    flex-direction: column; 
}

.confirmation-text {
    font-family: "Inter", Helvetica;
    font-size: 110px;
    font-weight: 800;
    text-align: center;
}

.return-button {
    border: none;
    border-radius: 20px; 
    background-color: #007F55;
    color: white;
    padding: 10px 20px; 
    cursor: pointer; 
    font-family: "Inter", Helvetica;
    font-weight: 800;
    margin-top: 10px;
}