.sponsor-a-child {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .sponsor-a-child .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 2147px;
    height: 1648px;
    position: relative;
  }
  
.sponsor-a-child .p {
  text-align: center
}

  .sponsor-a-child .card {
    position: center;
    width: 280px;
    top: 277px;
    margin: 100px;
    display: flex;

  }
  
  .sponsor-a-child .card-bg {
    background-color: #007f55;
    display: flex;
  }