.event-green {
  background-color: #007F55;
  width: 100%;
}

.inner-green{
  width: 80%;
  padding-top: 5%;
  margin: auto;
}

.event-white {
  width: 80%;
  margin: auto;
  padding-top: 5%;
}

.event-col{
  flex-basis: 50%;
  text-align: center;
  border-radius: 2%;
  margin-bottom: 5%;
  position: relative;
  overflow: hidden;
}

.event-col img{
  width: 100%;
  display: block;
}

.layer{
  background-color:transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover{
  background-color: #007F55;
  opacity: 0.7;
}

.layer h3{
  width:100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  transition: 0.5s;
  opacity: 0;
}

.layer:hover h3
{
  bottom: 49%;
  opacity: 1;
}

.row{
  display: flex;
}

@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}

